[2019-03-26 06:10] sagar-patel-sls opened #2 "Windows Platform"
Hii, @iegomez

i have downloaded release source code but how can i run in windows platform

can you please provide step for open in windows platform

Thanks

[2019-03-26 12:48] iegomez commented on #2
Hi! I don't use Windows and am not familiar with it, but I believe OpenGL ships with it, so you shouldn't have problems with that. Check [imgui-go](https://github.com/inkyblackness/imgui-go) and the underlying library, [Dear ImGui](https://github.com/ocornut/imgui), for more instructions or issues related to Windows. You should also have gcc (or whatever is used) as the Go library is just a wrappe

[2019-03-27 04:30] sagar-patel-sls commented on #2
Thanks @iegomez
 can you give me steps of Ubuntu 18.04 system.

[2019-03-27 06:36] proffalken commented on #2
@sagar-patel-sls the instructions for Ubuntu are the same as for any linux solution:

1) Make sure that Golang and any other dependencies are installed
2) Clone this repository to your Ubuntu Installation
3) Run `make` as documented in the README.md file
4) Run the application

For step 1, you'll need to google that, because it's unique to each distribution as to how you install Golang/OpenGL/etc.

[2019-03-27 12:35] iegomez commented on #2
@proffalken is right, it'll change among distros and systems. Now, for Ubuntu 18.04 or similar something like this should get your prerequisites ready:
[code]
Then download Go's latest version from https://golang.org/dl/ and follow the instructions.

Finally, clone the repo, cd into it and run `make`. This should install dependencies using Go modules and compile the program into the `gui` executab

[2019-03-28 06:42] sagar-patel-sls commented on #2
Hii @iegomez @proffalken
i follow above step for Ubuntu 18.04 but i still get below screenshot error
![image](https://user-images.githubusercontent.com/43664335/55135805-b3f72f00-5152-11e9-95c8-e7daa77bf7d2.png)
Can you please help me?

Thanks

[2019-03-28 12:05] iegomez commented on #2
Sorry, I had a bad entry at gitignore so a file wasn't pushed. If you pull from master now it should work.

[2019-03-29 14:57] iegomez commented on #2
@sagar-patel-sls, dit it work?

[2019-03-30 04:03] sagar-patel-sls commented on #2
@iegomez  i will try `master` branch

Thank you

[2019-04-01 14:30] iegomez commented on #2
I also did a new release fixing the issue. I'll wait for your confirmation on this to close it or take any further action.

[2019-04-02 04:05] sagar-patel-sls commented on #2
@iegomez
i also try with `master `branch but still i got same error. (OS: Ubuntu 18.04 LTS)

![image](https://user-images.githubusercontent.com/43664335/55375609-6ef44380-552a-11e9-837d-304e13d1c96f.png)

Thank you

[2019-04-02 06:49] proffalken commented on #2
@sagar-patel-sls You must be missing a library or a step somewhere.

Did you create the `conf.toml` file as specified in the README file?

I can confirm that the current master downloads, compiles, and runs perfectly on my laptop, the only difference is that I'm running Arch Linux instead of Ubuntu (which I wouldn't recommend unless you are *very* familiar with how Linux works!).

Those errors loo

[2019-04-02 12:44] iegomez commented on #2
No, those are indeed the functions at `lds/keys.go`, the file that was missing before. So it seems as if the pull from master failed, you are compiling your old version or something is getting cached. I also just downloaded the latest release and compiled it without issues, so I'd recommend that you delete everything concerning the package and download release 0.1.1 or clone the repo again.

[2019-04-03 05:32] sagar-patel-sls commented on #2
Hii @proffalken @iegomez

i have tried with `release 0.1.1` also create `conf.toml` file as specified in the README file but i still get error

![image](https://user-images.githubusercontent.com/43664335/55455104-e6e06d80-55ff-11e9-99f3-9b7d893e41e0.png)

Thank you

[2019-04-03 06:06] proffalken commented on #2
@sagar-patel-sls have you deleted the entire directory, re-cloned the repository and tried again?

(Also, please paste the output of the command here as text rather than screenshots as it is far easier to read.  You can do this by selecting the text in the terminal window, right-clicking, selecting copy, pasting it here and then format it using the `<>` button on the toolbar above)

[2019-04-03 06:29] sagar-patel-sls commented on #2
@proffalken i have deleted entire directory, re-cloned the `master` repository

please find below output of the command

[code]

Thank you

[2019-04-03 11:35] proffalken commented on #2
Thanks.

That seems to be a different error to the one you reported above in regard to the undefined variables?

I suspect that you're missing a dependency somewhere, but I don't know enough about GO to be sure.

[2019-04-03 12:22] iegomez commented on #2
Actually, those are just warnings related to this issue: https://github.com/go-gl/glfw/issues/213.
Those are pulled in by imgui-go, so I have no control over them, but everything runs fine and they may be ignored for the time being.

[2019-04-13 06:58] iegomez commented on #2
Hi, @sagar-patel-sls. I've just tested this on a fresh install of Linux Mint and added the missing xorg-dev dependency to the Readme building instructions. That should work for Debian, Ubuntu and mostly any Debian based distro as well, so I'll close this issue for now. Feel free to reopen it if you find any other building issue. Thanks for your report!
And thanks @proffalken for all the help!

Che

[2019-04-13 06:58] #2 closed

[2019-04-30 09:39] feamarth opened #3 "redis get key error"
I've compiled lds on osx: Redis is answering pong at ping command, GUI is ok and connection to our lora server works.

By the way at device join click on the lds gui interface I receive the following error in the built-in console:
`level=error msg="redis get key error: redis: nil"`

[2019-04-30 13:40] iegomez commented on #3
Those messages are seen when there's no info about the device at Redis an the GetInfo() method of the device is called, e.g., when trying to join or establishing first connection. I agree they are pretty misleading and they should be changed to some notification about keys not being set yet, but if everything's working you shouldn't need to worry.

I'm looking at adding an option to manually modif

[2019-04-30 18:27] iegomez commented on #3
I've just added the values editor and changed the Redis messages to warnings specifying that the keys are missing (because device is not yet activated). I'm closing the issue, but reopen it or another one if you find any trouble.

[2019-04-30 18:27] #3 closed

[2019-05-08 14:08] heartsing opened #4 "when the device join the server, I receive this error"
ERRO[1899] processing uplink frame error data_base64=“AAgHBgUEAwIBAAAAAAAAAAAAAMyVJYI=” error=“join-request to join-server error: unmarshal response error: invalid character ‘<’ looking for beginning of value”
Thank you !

[2019-05-08 14:28] iegomez commented on #4
Hi, I'll need a lot more information for this: what loraserver version are you using? Are you using the default join server? Are you setting join server KEK set (not supported)? Can you provide any relevant configuration details? Are you sure you are setting the same bands, LoRaWAN version and activation methods? Maybe you misconfigured some LoRa parameters? Could you share your lds conf toml?

[2019-05-09 02:33] Norman-h commented on #4
The lora server version may be 2.6.And I using the default join server which not set server KEK. I set band EU_863_870. LoRaWAN version is 1.1 and activation method is OTAA.
 My lds conf toml:

log_level = "info"

[mqtt]
  server = "tcp://localhost:1883"
  user = "admin"
  password = "admin"

[gateway]
  mac = "0102030405060708"

[band]
  name = "EU_863_870"

[Device]
eui="0000000000000000"
addres

[2019-05-09 14:53] iegomez commented on #4
I can't seem to reproduce the problem. Could you check `loraserver` version just to be sure (run `loraserver version` from the terminal)? The current master branch of `loraserver` (and other components) is the test version 3.0.0 which deprecated the json marshaler for lora-gateway-bridge, so that may be the issue. You could try changing marshaler at your `toml` or from the `gui` to `protobuf` to s

[2019-05-09 21:38] iegomez commented on #4
Actually, that shouldn't work either as lora-gateway-bridge and loraserver mqtt topics have changed on v3.0.0. Give `protobuf` a try anyway, but also try to listen to the mqtt topics with some client to see what's getting sent.

[2019-05-10 07:45] Norman-h commented on #4
I am so sorry. My loraserver version is 2.6. I don't know how to change marshaler and what is protobuf. When I click join button I listen to mqtt topics gateway. And I receive gateway/0102030405060708/rx {"phyPayload":"AAgHBgUEAwIBAAAAAAAAAAAAAMyVJYI=","rxInfo":{"channel":0,"codeRate":"4/5","crcStatus":1,"dataRate":{"bandwidth":125,"modulation":"LORA","spreadFactor":10,"bitrate":0},"frequency":916

[2019-05-10 14:46] iegomez commented on #4
If you check your conf file (or the GUI), you'll see there's a `marshaler` option under the `device` section. That marshaler may take values `json`, `protobuf` and `v2_json`, indicating the format in which messages are sent.

To be honest, I don't think the issue has to do with this package but with your join server (if you are using a custom one) or your loraserver configurations. I believe the e

[2019-05-11 07:14] Norman-h commented on #4
When I change to protobuf or v2_json, the error is same.
So what can I do for this error?  I see the Payload codec(I set none) in lora spp server applications.Should I change it and how to edit it?

[2019-05-11 20:11] iegomez commented on #4
As I said, I don't know what's wrong and I don't think it has to do with this package.
Do you have a real device at hand to test? Does it work correctly?

[2019-05-12 01:23] Norman-h commented on #4
No, I don't  have a real device in hand. Can you share your setting about lora app server application.
Thank you!

[2019-05-13 13:50] iegomez commented on #4
I don't have any v2.6 deployment right now as I'm testing the newest version and I have running some older ones too, but there's nothing unusual about the configuration. In particular, I leave the default join server values as they come when running `loraserver configfile > loraserver.toml`.

[2019-05-15 07:52] heartsing commented on #4
Recent, I try to using docker. And it's join successful but not active.Why?

[2019-05-15 08:39] heartsing commented on #4
Thank you! I'm using docker and it can join server. But how to send data to server?
when I click **send data** button in Data box,I can't find the message in uplink frame.

[2019-05-15 10:44] Norman-h commented on #4
Thank you! I'm using docker and it can join the server.
But when I click **send data** button in data window, I can't find the data in uplink frame.
How to send data to server?

[2019-05-15 14:01] iegomez commented on #4
Check your loraserver logs, there could be a lot of reasons for it to fail.

[2019-05-15 20:51] iegomez commented on #4
I just made a new release in case you want to check it out.

[2019-05-21 14:14] Norman-h commented on #4
Sorry, I have been writing my thesis recently.
I don't know how to use the latest version, I don't know how to set the uplink topic.
When I used the previous version and I clicked the send data button. In the output windows, I receive :
processing join response.
can't decrypt join accept lorawan :MACpayload must be of type *DataPayload
downlink error: lorawan :MACpayload must be of type *DataPaylo

[2019-05-22 15:00] heartsing commented on #4
In the latest version，I only set the uplink topic gateway/%s/rx, the lora server can reveive the data.

[2019-05-24 15:17] iegomez commented on #4
Sorry for the late response, I've been sick for the last couple of days. Please check the [loraserver documentation](https://loraserver.io) for live data and frames related questions.

As for the downlink errors, it might very well be a difference in versions or some unsupported command (`lds` only supports regular downlinks and join accepts, everything else will be seen as an error). The uplink a

[2019-05-26 16:13] Norman-h commented on #4
I am very sorry to hear this news.
Can I ask you another question?
When I send data to device by using RESTFul API, the data always enqueue. But the lds can't receive the data.Why?

[2019-05-27 14:33] iegomez commented on #4
If the device was configured as class A then downlinks will only be sent once an uplink is received at loraserver.

I'll close this issue now, as all these latest questions have to do with either LoRaWAN or the Loraserver project. You'll have better luck looking for help at their [forum](https://forum.loraserver.io).

[2019-05-27 14:33] #4 closed

[2019-09-10 12:09] Mx-Tech opened #5 "run make"
Dear Ignacio,
I tried to run the "make" command in the lds folder, but it stops with an TLS authentication problem.
I fixed it by reinstalling "Go", with this manual:

- https://github.com/golang/go/wiki/Ubuntu

for Ubuntu 18.04 LTS

Maybe you want to put it in your "read.me", so anyone can use it directly.

Best Wishes
Max

[2019-09-10 15:31] iegomez commented on #5
Hey, Max. Could you share how you installed Go before the issue and the exact error?
I think it might have been an issue with your prior installation and without the details I can't generalize and include it in the docs.

[2019-12-23 22:04] wolftrax5 opened #6 "Docker Env"
I was trying to run this on docker but not successful is there any way
using a image of  golang:1.12
`docker run --rm -it -v "$PWD":/usr/src/lds -w /usr/src/lds golang:1.12`

then install the dependencies
`root@e16a31086b10: apt install build-essential xorg-dev libgl1 libgl1-mesa-dev libgl1-mesa-glx redis-server`

and run the "make" but the executable didn't work

PD: Exelente Trabajo, Saludos des

[2019-12-24 13:40] iegomez commented on #6
Hi! Thanks for the kind words!

I'm not entirely sure as things may have changed, but I believe it shouldn't work in the regular `Go` docker images as they are based on Alpine, whcih uses `musl libc` and which in turn doesn't play along with `Cgo`. The latter is needed because this project uses `imgui-go`, which is basically a wrapper of the `C` library `Dear imgui`.

I'd recommend basing in somet

[2020-03-02 17:05] OniremE opened #8 "i need some help for use this simulator."
Hi, sorry i´m newbie... i have installed the chirpstack server, bridge and app... they are running now and i need some help for connect it with the "Loraserver device simulator".
I think the messages are published on my server, but I can't..
It`s my con.toml
#Configuration.
log_level = "info"

[provisioner]
	hostname = "https://example.com"
	username = "username"
	password = "password"
	path = "pa

[2020-03-02 17:19] scartill commented on #8
@OniremE Could you please provide you configuration and the contents of your log window?

[2020-03-02 17:55] OniremE commented on #8
the output is:
![Captura de pantalla de 2020-03-02 12-48-45](https://user-images.githubusercontent.com/58661487/75702982-93015d00-5c84-11ea-816d-ab40b115211b.png)
my chirpstack-appication-server.toml:
[general]
log_level=4

[postgresql]
dsn="postgres://chirpstack_as:dbpassword@localhost/chirpstack_as?sslmode=disable"

  [application_server.external_api]
  jwt_secret="verysecret"

[2020-03-05 01:35] OniremE commented on #8
ok i solved it for now. just bad configurations.

[2020-03-05 01:35] #8 closed

[2020-04-01 14:10] 4br3mm0rd opened #9 "Several segmentation faults"
Hi everyone,

I am trying to build a virtual LoRa environment for testing, based on Chirpstack's server infrastructure.

For some reason, when trying to use this tool, I get segmentation faults when trying to join. I get a segmentation fault at least 50% of the times I click on "Join". Here is one of the error messages:
[code]

This happened with different configurations... This specific error hap

[2020-04-01 17:30] scartill commented on #9
@4br3mm0rd Could you please also provide your log's contents and a config? Thanks!

[2020-04-02 08:58] 4br3mm0rd commented on #9
Sure, here is the configuration file
I cannot see the logs since the crash shuts down the UI. Is there a way to have it written into a file?

[code]

[2020-04-03 13:29] JohnRoesler commented on #9
I am importing the lds package into an automated simulator. Prior to the loraserver v3 release it was working. Now I am seeing same fault.

I am calling `device.Uplink(..)` in my code, and when running debug, it hits the nil pointer dereference here: https://github.com/iegomez/lds/blob/master/lds/lds.go#L263

[code]

[2020-04-06 13:30] 4br3mm0rd commented on #9
Here is another segmentation fault that I was able to reproduce:

[code]

This happens with the following configuration **when I select "protobuf" as the Marshaler.**
**EDIT: this seems to be independent of the configuration, and to happen anytime I select a marshaler.**

[code]

Hope this helps :)

[2020-04-06 16:53] #9 closed

[2020-04-06 16:55] scartill commented on #9
Thank for reporting! At the least 4br3mm0rd's issues should be solved. If something persists, please let me know.

[2020-04-14 21:24] Gillani0 opened #11 "Communication through UDP Packet forwarder"
Hi,

I tried (and then looked at the code) to send a join request thorough the packet forwarder but it seems like it's only supported with MQTT server. Is there a way (or you thinking of extending it) to send join request and receive it through the packet forwarder. Cheers

Syd

[2020-04-15 08:23] scartill commented on #11
Hi, indeed the feature is absent, albeit it isn't a complex one. I was thining of extending is anyone needs. Do you have any deadline? I'll try in squeeze in.

P.S. Also, due to lockdown, debugging capabilities are limited, I would propose to use separate branch for a start.

[2020-04-15 08:32] Gillani0 commented on #11
Hi,
Sure a diff branch with the extended capabilities would be great. I don't have any hard deadlines but would be great to have it soonish :)

For now I'm playing with this (https://github.com/houluy/lora-motes-emulator) for quick tests. However, it doesn't have the detailed features as yours and it contains bugs etc.

[2020-04-16 07:13] starsky35 commented on #11
Hi,
I made some successful tests with my chirpstack server with MQTT. Lds is very helpful tool, thanks for it !
Now, I also wonder how to communicate through UDP, do I need to install extra software like (packet forwarder https://github.com/Lora-net/packet_forwarder) between lds and my chirpstack server or the one in lds is supposed to make the job ?
Please could you also clarify me what is possib

[2020-04-16 07:33] scartill commented on #11
Hi,

No, packet_forwarder is not needed to use UDP, since LDS should simulate it. However data sending procedure is implemented via UDP, while join procedure is WIP.

I'm not quite sure what would be a use case for UDP with chirpstack, the feature was built to be used with servers (like https://github.com/gotthardp/lorawan-server) without distinct "bridge" component.

[2020-04-16 14:21] 4br3mm0rd opened #12 "Working with several servers machines"
Hi everyone!

I am working in an environment with separate machines for the Chirpstack Network Server, Application Server, and the Device Simulator. I am trying to send a Join Request using the following configuration.

[code]

Where:
- lora-ns is set in /etc/hosts as the IP for the Network Server, and mqtt is configured to listen on port 1883.
- On the device part, the device EUI, address, and Se

[2020-04-17 03:48] Gillani0 commented on #11
Hi,

The (Semtech) packet-forwarder is based on the UDP and is commonly used by servers such as ( https://github.com/gotthardp/lorawan-server), Things network (https://github.com/TheThingsNetwork/ttn). Therefore, providing such feature (Joining, sending downlink etc) will generalise your system and can be used with others for testing.

Syed

[2020-04-20 10:12] starsky35 opened #13 "device addr is equal to 0 in ABP"
Hi,
I made successfull activation test in OTAA between lds and chirpstack server.
However, I noticed that it fails in ABP because device addr stays 0 when sending uplink frames (when reading data from redis)
I did some slight modification in the code to make it works but I am surprised that nobody reported the issue maybe I missed something in the conf.

[2020-04-20 10:21] starsky35 opened #14 "tmst parameter type issue with forwarder"
Hi,

I noticed that my chirpstack server discard uplink frames using packet forwarder from lds because tmst parameter type is wrong. Indeed it is supposed to be unsigned 32b from the spec and it is defined as uint64 in lds code.

 Name |  Type  | Function
:----:|:------:|--------------------------------------------------------------
  tmst | number | Internal timestamp of "RX finished" event (32b

[2020-04-20 11:52] scartill commented on #13
Indeed, the issue looks critical enough to be noticed earlier. If you have a useful fix, could you please open a Pull Request? Thanks!

[2020-04-21 12:44] scartill commented on #13
Please refer to merge request discussion #15

[2020-04-21 13:04] scartill commented on #12
For Version 1.0 case (mac_version = 0 in config) you need:

ABP case:
- Device EUI (eui in config, **Device EUI** in Chirpstack)
- Device address (address in config, **Device address** in Chirpstack)
- NwkSEncKey (network_session_encription_key in config, **Network session key** in Chirpstack)
- AppSKey (application_session_key in config, **Application session key** in Chirpstack)

OTAA case:
- De

[2020-04-21 13:39] scartill commented on #14
Indeed. Fixed.

[2020-04-22 08:45] starsky35 commented on #11
Hi,

Yep, I confirmed, would be great to have "full features" on packet forwarder.
@scartill in which timeline, do you think we could test it on a separate branch ?

Thanks again.

[2020-04-22 10:46] 4br3mm0rd commented on #12
Thank you very much for your answer, I've been having a hard time with this for a few weeks now...

I have tried to set it on a single machine (all the servers on one machine, as chirpstack's starter guide suggests) so that I'm not supposed to face any configuration issues on the server-side theoretically, trying both OTAA and ABP (with your suggested parameters - and the other parameters with dum

[2020-04-22 11:35] scartill commented on #12
I've recently a bunch of issues in the `master` branch. Could you please retry with version from #16 pull request?

[2020-04-22 12:54] 4br3mm0rd commented on #12
I just tried with this pull request and the result is the same: the message appears on the mosquitto_sub command, but the network server and application server don't react (no response, no log)

[2020-04-22 14:43] scartill commented on #12
Could you please provide your configuration files for lds and chirpstack server components? I'll try to reproduce

[2020-04-23 07:47] 4br3mm0rd commented on #12
Sure,
For LDS (using ABP):
[code]

For LDS (OTAA):
[code]

For the network server (it's the configuration file located in /etc/chirpstack-network-server/chirpstack-network-server-us-us915.toml with the updated password for postgres):
[code]

Application Server (it's the configuration suggested in the "getting started" guide of chirpstack:
[code]

Thank you very much for your help!

[2020-04-23 13:51] scartill commented on #11
@Gillani0 @starsky35 Please check out pull request #17

For me, this version works in OTAA and ABP modes both with Chirpstack and lorawan-server.

If the version work for you, I will merge it to the `master`.

Thanks!

[2020-04-23 14:55] scartill commented on #12
Hi @4br3mm0rd

You have multiple issues with LDS config:
* Your uplink and downlink topics are confused, you better keep them to default
* If you do not use encoder (`use_encoder=false` and `encoded_type=[]`), payload shouldn't be empty (`payload=""`).

Try this config:
<details>

[code]

</details>

[2020-04-23 14:55] #12 closed

[2020-04-23 17:44] scartill commented on #5
@Mx-Tech Max, are there any updates?

[2020-04-23 17:46] #6 closed

[2020-04-23 20:33] Mx-Tech commented on #5
Hi,no updates from my sideAm 23.04.2020 19:44 schrieb Boris Resnick <notifications@github.com>:
@Mx-Tech Max, are there any updates?

—You are receiving this because you were mentioned.Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-04-23 20:34] #5 closed

[2020-04-24 10:49] starsky35 opened #18 "GUI crash when scrolling output window"
Hi, I got some very annoying GUI crashes when scrolling the output console window.
Seems related to imgui.
Do you have any workaround ?

Thx

error logs below :

---------------------------------------------------------------
panic: Assertion failed!
File: imgui.cpp, Line 3618
Expression: draw_list->_VtxCurrentIdx < (1 << 16) && "Too many vertices in ImDrawList using 16-bit indices. Read comment a

[2020-04-24 15:53] #14 closed

[2020-04-24 15:54] #13 closed

[2020-04-26 02:37] iegomez commented on #18
Hey, I remember I saw this a long time ago but can't recall why I wasn't able to fix it. This related issue should give some hints: https://github.com/ocornut/imgui/issues/1188

[2020-04-27 16:10] scartill commented on #18
@starsky35 @iegomez The issue looks like a IMGUI limitation. The only suggestion I have to the date is to limit the size of the log in a window, and duplicate output to console.

[2020-04-27 18:39] iegomez commented on #18
I've been wanting to try [Fyne](https://fyne.io) and others, so I'll check them out next week and consider porting the UI.

[2020-04-28 09:54] scartill opened #19 "Re-join by UDP gives MAC Payload decrypt error"
When trying to join an already joined device via UDP, "downlink error : MACPayload must be of type*MACPayload" happens

[2020-04-28 12:39] scartill commented on #11
Closed by #17

[2020-04-28 12:39] #11 closed

[2020-04-28 12:40] scartill opened #20 "Port GUI to GIO UI"
To overcome IMGUI limitations. Will be collected in feat/gui-port branch

[2020-04-28 12:46] scartill commented on #20
After some research, it looks like Fyne compiles under Windows via Mingw, Cygwin or similar, which is not known as superstable.

Also, GIO UI (https://eliasnaur.com/blog/immediate-mode-gui-programming) is natively crossplatform immediate GUI library.

If @iegomez doesn't mind, I propose to give it a try.

[2020-04-28 13:55] iegomez commented on #20
Sure, sounds good! I'm actually wrapping up a Go project at work and moving to other languages for the upcoming one next week, so I thought it'd be nice to give GUI packages a try and keep doing some Go, but please feel free to start working on it if you want and I'll join later.

[2020-04-29 20:46] Gillani0 commented on #19
Hi @scartill

As we discussed earlier, there was this same issue with the join and rejoin request. After some debugging I've found the culprit.

To decrypt the Join Accept payload, you're using Nwkey, however, you need to use the AppKey. So on this [line](https://github.com/iegomez/lds/blob/5781205e582038f6a546317d4b4e0fa07fe65afe/lds/lds.go#L435) in `lds.go`, you need to change `d.NwkKey` --> `d.

[2020-04-29 20:49] Gillani0 commented on #18
@iegomez Instead of creating porting to another desktop based UI, why not create an HTTP server and use JS based UI that'll work everywhere with minimal setup.

[2020-04-29 21:35] iegomez commented on #18
For starters, to have fun! The current project I'm working on at work has a Go backend, but it's coming to an end and I'm switching languages soon, so I'd like to have an excuse to keep using Go.

Now, if you're suggesting a JS "desktop" app, e.g. Electron based, I don't like them. If you're instead thinking it could actually be hosted at some server so it's freely available for anyone, that'd mak

[2020-04-29 21:45] scartill commented on #18
As for me, I'm no JS programmer, and frankly not much eager to dive into it. As for Electron etc. I'm here with Ignacio. However, these approaches are not exclusive.

Even now, there is a CLI (might be requires some updates) and a GUI client. And one guy is already using lds as a library. Creating an backend service for JS front-end is doable, I think, without discarding ported GUI client.

These

[2020-04-29 21:55] scartill commented on #19
HI @Gillani0

The problem is that the code you point to already assumes that a downlink is a frame, whereas on rejoin it is in fact a join response, hence the wrong key is chosen. So the real problem resides upstream the call chain [here](https://github.com/iegomez/lds/blob/master/lds/lds.go#L422).

Boris

[2020-06-04 14:00] 4br3mm0rd commented on #19
Hi everyone,

I read in LoRa's Specification that sending a Re-Join Request requires to change the headers of the PHYPayload. Is this automatically done when clicking the Join button once we already have the Session Keys? Or does LDS send a regular Join Request?

When I press Join after receiving the Session Keys, the request is sent, but my app server throws an error: "object already exists".

I

[2020-06-06 08:58] scartill commented on #19
Hi @4br3mm0rd ! May thanks for pointing out, separate "re-join" seem more reasonable since we target a flexible simulator, not a regular device. I've been overwhelmed a bit in recent weeks, but will take a look a.s.a.p, and proceeed with new GUI as well.

[2020-06-26 05:06] iegomez commented on #20
Hey, @scartill!

Just wanted to say sorry because I haven't found the time to support your efforts. With the whole world situation, a tight schedule at work and trying to keep with maintenance for my mosquitto plugin project, there's just too little time.

I'm really grateful for all your work pushing this package forward, so please, if you need a hand with anything, just let me know and I'll make

[2020-06-26 07:19] scartill commented on #20
Hi, @iegomez !

Thanks for encouraging! Indeen, situation is non-trivial at the least (and I'm into aviation, you know, which is kinda (un)dead), so I'm just trying to take advantage of my work being of impulse nature nowaday.

If you would have a spare minute, please take a closer look on #19, since it may be more complex than it looks (or not :)

Stay safe!

[2020-07-06 12:00] 4br3mm0rd opened #22 "Use LDS as a Library / inside a script"
Hi,

I would like to make some simulations with the device simulator (stress tests, statistical verifications, etc.).

I thought of maybe extracting the relevant parts of the code, or write an automation that would click on the UI.

Is there a better way to do it? Like using the LDS as a Library?

How do you suggest to approach this problem?

Thank you very much!

[2020-07-07 09:04] scartill commented on #22
Hi @4br3mm0rd

If a script is written in golang, just use lds/lds/Device entity as a simulated device. See setDevice() function for an example how to set in up.

Regards,
Boris

[2020-07-16 08:59] #22 closed

[2020-07-16 09:24] scartill commented on #18
Addressed by #21

[2020-08-03 10:18] scartill commented on #20
Closed by #21

[2020-08-03 10:18] #20 closed

[2020-08-03 10:19] scartill commented on #18
Closed by #21

[2020-08-03 10:19] #18 closed

[2020-08-19 14:07] PhilDay-CT opened #23 "Ubuntu 18.04 needs libgles2-mesa-dev"
Hi,

Building on Ubuntu 18.04 I found that I also needed the following to get the build to work:

sudo apt-get install libgles2-mesa-dev

Small point I know, but you might want to update the readme.

[2020-08-19 14:11] scartill commented on #23
Unknowledged, thank you! That's an important point.

[2020-08-19 14:25] PhilDay-CT opened #25 "client crashes after connection to mqtt"
Hi,

This is probably a newby issue but please bear with me:

I have chirpstack running via docker-compose and am trying to get your client to connect to it.
I've registered a gateway in chirpstack with an gateway ID of DEADBEEFDEADBEEF

I then run the client with no other parameters (i.e. default configuration), and tell it to connect to the MQTT server (localhost:1883)

In the chirpstack log I c

[2020-08-19 14:32] PhilDay-CT commented on #25
BTW I have tried connecting to the network server instead:

chirpstack-network-server:8000

That logs that it has started the UDP forwarder, but if I now add a device in chirpstack, set the same details in client UI and hit Join I get an "Neither client is connected" error

time="2020-08-19T15:26:48+01:00" level=info msg="UDP Forwarder started (MQTT disabled)"
time="2020-08-19T15:31:51+01:00" leve

[2020-08-19 14:48] PhilDay-CT commented on #25
I have also tried starting the client with a conf.toml file based on the example, which gives a bit more logging since it now connects to redis (I guess that means there does have to be a config file, but also I underdtand you only use Redis for the results from OOAP so that doesn't sound like it would be the issue here)

However it still crashes as soon as it connects to mqtt

./gui
time="2020-08

[2020-08-27 08:37] #23 closed

[2020-08-27 08:41] scartill commented on #25
@PhilDay-CT I'd be glad to help but we need to factorize the issues mentioned. Could you please isolate all failure scenarios and provided corresponding configs and logs for each one. Thank you!

[2020-09-18 13:43] vladosam commented on #25
I am also having the same problem. Lds is installed on ubuntu 18.04 vm machine. And when i try to connect to mqtt gui immediately crashes. Server is on another machine.
[code]
I can connect to server with mqtt explorer so firewall is not a problem. And once i click connect on lds there is no change in number of connected clients in mosquitto. This is my conf.toml
[code]

[2020-09-25 08:37] scartill commented on #25
@PhilDay-CT @vladosam Many thanks for reporting. Fixed in c665ce093fcfa212bd118999cb5e43f4fe72ea80

[2020-09-25 08:37] #25 closed

[2020-12-04 23:48] iegomez opened #27 "Repo maintenance"
Hey, @scartill!

I've given it some thought and I don't believe I'll be doing any more changes nor will I be reviewing to this repo, I just can't find the time and there are other priorities I prefer to attend to. Since you've done some great work with it and I know some people still use the project to aid in their ChirpStack testing, I'd be happy to transfer it to you if you'd be willing. Let me

[2020-12-05 00:50] scartill commented on #27
Hi @iegomez ,

I still work with LoRa to some extent, and to the date I can maintain the project, especially with people actually using it.

I'm not sure that I have any new ideas to move forward with, but if the community generates any, I'll try to comply.

Thanks for your great work and your trust.

[2020-12-05 00:50] #27 closed

[2020-12-05 01:07] iegomez commented on #27
Nice, @scartill, thanks for having my back on this one! Please feel the confidence to reach to me if you ever need a hand, want to discuss some implementation or overall just have a chat about anything: I'd love to keep collaborating and would gladly do so right now if I really had the time. I'll transfer the repo right way.

Cheers!

[2020-12-06 09:30] scartill commented on #27
@iegomez you are very welcome! Feel free to reach me at any time via Telegram (the same nickname) with any ideas.

[2021-04-12 13:10] Vincent-guillon opened #28 "floating point fbos not supported"
Hi there,

I built the compiled file and I correctly have the "gui" compiled file which appears using the "make" command.
When i tried to load it with ./gui it results in the following error :

`time="2021-04-12T14:36:56+02:00" level=warning msg="[redis] missing ulFcnt key: redis: nil"
time="2021-04-12T14:36:56+02:00" level=warning msg="[redis] missing dlFcnt key: redis: nil"
time="2021-04-12T14:3

[2021-04-12 13:19] scartill commented on #28
Hi,

I believe this issue is discussed in this topic: https://todo.sr.ht/~eliasnaur/gio/49 and is highly dependent on your video subsystem hardware and software configuration. Fortunately it isn't directly related to golang.

[2021-04-12 13:29] Vincent-guillon commented on #28
I have already see this topic but I wanted to be sure that it was related.
Thank you for your support.

[2021-04-21 12:40] Vincent-guillon opened #29 "I don't receive the encoded data"
I'm facing an issue using the encoded data function.
I activated the encoded option and I kept the default data objects :

![image](https://user-images.githubusercontent.com/55394381/115554639-f9917200-a2ae-11eb-93e0-a35e262d1cd9.png)

![image](https://user-images.githubusercontent.com/55394381/115554514-d23aa500-a2ae-11eb-8cf5-dbdc9d67d0ee.png)

However, Chirsptack don't seem to receive the whole

[2021-04-21 13:23] scartill commented on #29
Hi Vincent,

Could you please provide your full configuration file?

Thank you!

[2021-04-21 13:25] Vincent-guillon commented on #29
Sure! Here it is
[code]
Thank you for your help

[2021-04-21 16:40] Vincent-guillon commented on #29
Hi,

I finally found the problem. If a decode function isn't added when we used this encoded data then the useful data doesn't show up.
Sorry for that I'm a newbie in this domain.
For those who aren't familiar with this domain like me, here's my decode function and my encoded data.

![image](https://user-images.githubusercontent.com/55394381/115590223-045cfe80-a2d1-11eb-92fd-8d01ca172b9c.png)
![im

[2021-04-22 07:41] scartill commented on #29
Great, thanks for the clarification!

[2021-04-22 07:41] #29 closed

[2021-04-22 07:41] scartill commented on #28
Hi @Vincent-guillon , any news on this one?

[2021-04-22 07:44] Vincent-guillon commented on #28
Hi @scartill ,

Sorry I forgot to mention it. The problem come from the virtualized components. On workstation the GPU of your own laptop is not passed by default and a virtualized GPU is created. However this virtualized GPU doesn't provide a satisfaying result. So I tried on Proxmox where I properly passed my GPU and it worked as a charm. I also think that it would work on my personal laptop. Th

[2021-04-22 07:46] scartill commented on #28
Glad to know, thanks!

[2021-04-22 07:46] #28 closed

[2021-06-09 09:02] AntoineLeLoarer opened #31 "Error while running cli"
Hello,

I've tried yesterday the simulator. I succcesfully run the gui version and so i've decided to try the cli with the same configuration file but each time i do a : `run go main.go`
I have an error that say :

`# command-line-arguments
./main.go:171:15: undefined: lds.DataRate
./main.go:190:7: undefined: err
./main.go:212:14: undefined: lds.RxInfo
./main.go:246:4: unknown field 'Timestamp' in

[2021-06-09 09:24] scartill commented on #31
Hi @AntoineLeLoarer

The GUI version had undergone some overhaul, however GLI version was not touched at all. Most probably it is broken. I'll take a look a.s.a.p.

Thank you for noticing.

[2021-06-27 07:54] scartill commented on #31
Hi @AntoineLeLoarer,

It looks like the CLI tool haven't been touched for a while and requires some re-thinking. Could you please shortly describe the use case? Is it a single-call tool, interactive loop, or maybe a kind of scripting?

[2021-06-28 13:34] AntoineLeLoarer commented on #31
Hi @scartill,

Thanks for your time,

I've studied a little bit and a use case will be :

- A command to make a join that return a  json of the keys ( DevAdr, NWSKey, APPSKey ...)
- A command to make a simple emit of a lora frame

Each command will take a path to conf.toml. The file conf.toml don't be edited, maybe you can delete the part about redis and window size. I don't need either encoded ty

[2021-07-13 21:17] LuighiV opened #32 "Create an executable for windows"
It is very useful for some non-developer users to have the compiled version of the program, so adding it to the respository could be amazing.

It could be accomplished using the github actions.

[2021-07-15 16:30] LuighiV opened #33 "Cannot join device simulator to ChirpStack via OTAA"
I am trying to use your software to simulate a device connected to the ChirpStack platform I had deployed in a server. However, when I try to connect it, after sucessfully conected the MQTT client of your software, I had some error messages from the software.

The configuration file I use is:
[code]

In the chirpstack server I got:
[code]
In the debug messages from the app:
[code]
In the ChirpStac

[2021-07-15 19:34] iegomez commented on #33
Hi, @LuighiV. I'm no longer maintaining this repo, @scartill is, so maybe he could give you a hand.
Actually, I tried transferring ownership of it to him some time ago, not sure what went wrong. 🤔

[2021-07-15 20:25] LuighiV commented on #33
Hi @iegomez, thanks for your answer. Hope @scartill  could help me with this.

[2021-07-17 06:41] scartill commented on #33
Hi @LuighiV

Thank you for posting. I'll take a look a.s.a.p.

[2021-08-04 06:16] scartill commented on #32
Hi @LuighiV

Many thanks for creating the scripts! Could you please open a Pull Request? I'm not able to create and approve the same PR, unfortunately. Thank you again.

[2021-08-04 17:22] LuighiV commented on #32
Sure, I'm going to create it, although, I feel that it lacks of some credentials to prevent Windows warns about unknown editor. Perhaps, you could add to it.

[2021-08-04 17:53] #32 closed